// Color Variables
$white: #FFFFFF;
$whiteTransparent: rgba(255,255,255,0.4);
$black: #000000;

// Primary Colors
$blue: #364E68;
$boxShadow: #575757;
$whiteBoxShadow: #FFFFFF;

// Secondary Colors
$gray: #EBF0F6;

*, html, body { margin: 0; padding: 0; box-sizing: border-box; }

html { font-size: 10px; }

body { background: $gray; }

// BANNER IMAGE STYLES
.ghost__wrapper {
  width: 100%;
  height: 95vh;
  .banner__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.galeria__banner {
      justify-content: flex-end;
      align-items: flex-end;
      padding: 2%;
    }
    .text__logo {
      width: 100%;
      &.galeria {
        width: 10%;
      }
    }
  }
}
// BANNER IMAGE STYLES

// MAIN NAV BAR STYLES
.header__nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12vh;
  padding: 1.5vh 0;
  background: $blue;
  box-shadow: 0 1rem 1.5rem $boxShadow;
  border-bottom: 0.1rem solid $gray;
  transition: all 0.4s;
  .header__nav-ul {
    display: flex;
    height: 40%;
    .header__nav-li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18rem;
      height: 100%;
      font-family: 'Geomanist-Regular';
      font-size: 2.2em;
      color: $gray;
      border-radius: 0.7rem 0.7rem 0 0;
      transition: all 0.2s;
    }
    .header__nav-li:first-of-type { margin-left: 5rem; }
    .header__nav-li:first-of-type,
    .header__nav-li:nth-of-type(3),
    .header__nav-li:last-of-type {
      margin-right: 5rem;
    }
    .header__nav-li:hover {
      box-shadow: 0 0.1rem 0 $gray;
    }
  }
  .header__nav-ul:last-of-type { justify-content: flex-end; }

  .rotating__logo-container {
    position: relative;
    height: 100%;
    text-align: center;
    .rotating__logo {
      height: 100%;
      animation: App-logo-spin infinite 10s linear;
    }
  }
  &.scroll__nav {
    height: 6vh;
    background: $black;
    .header__nav-li {
      color: $white;
    }
    .header__nav-li:hover {
      box-shadow: 0 0.15rem 0 $white !important;
    }
    @media (max-width: 1300px) {
      height: 8vh;
      .header__nav-li {
        font-size: 1.7em;
        line-height: 1.8em;
      }
    }
  }
}
.header__nav-li {
  list-style-type: none;
  text-decoration: none;
}
// MAIN NAV BAR STYLES

// FOOTER STYLES
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 3rem;
  height: 10vh;
  background: $blue;
  border-top: 0.1rem solid $gray;
  box-shadow: 0 0.1rem 1.5rem $boxShadow;
  h2 {
    color: $white;
  }
  .powered__by {
    font-family: 'MyriadPro-Regular';
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: $gray;
    // Temporary
    span {
      font-style: italic;
      margin-right: 0.2rem;
    }
  }
  @media (max-width: 1300px) {
    min-height: 13vh;
    padding: 2rem 10rem;
    h2 {
      font-size: 1.1rem;
    }
    .powered__by {
      font-size: 0.9rem;
      line-height: 0.9rem;
      span {
        margin-right: 0.2rem;
      }
    }
  }
}
// FOOTER STYLES


// Common Styles
.content__main-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 7vh 0 10vh;
}

.rotating__logo-container,
.header__nav-ul {
  width: 33%;
}

.h1__main-style {
  font-family: 'MyriadPro-Regular';
  font-weight: 400;
  font-size: 5em;
  color: $gray;
  width: 100%;
  text-align: center;
  background: $blue;
  padding: 7rem 1.5rem;
  margin-top: 8rem;
  border-bottom: 0.1rem solid $white;
  box-shadow: 0 0.3rem 0.7rem $boxShadow;
  p {
    text-shadow: 0 0 0.4rem $white;
  }
  @media (max-width: 1300px) {
    // margin-top: 6rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// FONTS
@font-face {
  font-family: 'MyriadPro-Regular';
  src: local('MyriadPro-Regular'),
  url('../fonts/MyriadPro-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geomanist-Regular';
  src: local('Geomanist-Regular'),
  url('../fonts/Geomanist-Regular.otf') format('opentype');
  font-weight: 400;
}